body {
  overflow-y: scroll;
}

.share-button .svg-inline--fa {
  margin-right: 0.5em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.adsbygoogle {
  background: transparent;
}

.adsbygoogle:not(:empty) {
  margin-bottom: 20px;
  margin-top: 20px;
}
