<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Emoji Palette</title>
    <meta name="apple-mobile-web-app-title" content="Emoji">
    <meta name="application-name" content="Emoji">
    <meta name="description" content="絵文字をワンクリックでコピーできるサイトです。">
    <meta property="og:title" content="Emoji Palette">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://emoji.yuki.co/">
    <meta property="og:image" content="https://emoji.yuki.co/logo.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta property="og:description" content="絵文字をワンクリックでコピーできるサイトです。">
    <link rel="canonical" href="https://emoji.yuki.co/">
    <link rel="icon" type="image/png" sizes="16x16" href="https://twemoji.maxcdn.com/16x16/1f600.png">
    <link rel="icon" type="image/png" sizes="36x36" href="https://twemoji.maxcdn.com/36x36/1f600.png">
    <link rel="icon" type="image/png" sizes="72x72" href="https://twemoji.maxcdn.com/72x72/1f600.png">
    <link rel="icon" type="image/svg+xml" sizes="any" href="https://twemoji.maxcdn.com/svg/1f600.svg">
    <link rel="stylesheet" href="https://yknk.netlify.com/css/uikit.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js" defer></script>
    <script src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async></script>
    <script src="https://yknk.netlify.com/js/uikit.js"></script>
    <script src="https://yknk.netlify.com/js/uikit-icons.js"></script>
    <script src="/js/script.js"></script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Emoji Palette",
        "alternateName": "絵文字パレット",
        "url": "https://emoji.yuki.co/"
      }
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
